[Desktop Entry]
Name=Pied
Comment=Text-to-speech voice manager
Exec=pied
Icon=${SNAP}/meta/gui/pied.png
Terminal=false
Type=Application
Categories=Utilities;
